<link rel="import"  href="http://localhost:8081/polymer/polymer-element.html">
<dom-module id="hello-world">

    <template>
        Hello World component in Polymer proudly served by $$HOSTNAME$$ !
    </template>
    <script>
        // Define the class for a new element called custom-element
        class HelloWorld extends Polymer.Element {
            static get is() { return "hello-world"; }
            constructor() {
                super();
            }
        }
        // Register the new element with the browser
        customElements.define(HelloWorld.is, HelloWorld);
    </script>

</dom-module>