<link rel="import"  href="http://localhost:8081/polymer/polymer-element.html">
<dom-module id="custom-b">

    <template>
        This is a custom component B, proudly served by $$HOSTNAME$$ !
    </template>
    <script>
        // Define the class for a new element called custom-element
        class CustomComponentB extends Polymer.Element {
            static get is() {
                return "custom-b";
            }

            constructor() {
                super();
                this._boundListener = this.setMessageContent.bind(this);

            }

            connectedCallback() {
                super.connectedCallback();
                document.addEventListener('messageFromPortal', this._boundListener);
            }

            disconnectedCallback() {
                super.connectedCallback();
                document.removeEventListener('messageFromPortal', this._boundListener);
            }


            setMessageContent(g) {
                console.log("custom-b, received message from portal=" + g.detail.event);
                console.log("Send hello world url and tag to portal");
                document.dispatchEvent(new CustomEvent('messageToPortal',
                    {'detail': {event: {url: "http://localhost:8444/componentA/HelloWorld.html", tag: "hello-world"}}}))

            }


            static get properties() {
                return {
                    _boundListener: {
                        type: Object
                    }

                }
            }
        }


        // Register the new element with the browser
        customElements.define(CustomComponentB.is, CustomComponentB);
    </script>

</dom-module>